@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
:root{
    --bluePrimary: #207BFF;
    --blueSecondary: #4EA5FF;
    --whiteFont: #F5f7fA;
    --bluePoint: #09131D;
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    background: var(--whiteFont);
}
.wrapper{
    width: 90%;
    margin: auto;
    
}

header {
    width: 90%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    
}
.navbar ul{
   display: flex; 
   gap: 20px;
}
.navbar li{
    list-style: none;
}
.navbar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;

}

.logo img {
    width: 100px;
}

.is-hidden {
    display: none;
}

/* sliders */
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
    
}

.slideshow-container{
   
    max-height: 200px;
    position: relative;
    margin: auto;
    overflow: hidden;
    
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.8s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover{
    background-color: rgba(0, 0, 0, 0.8);
} 

.text {
    width: 100%;
    text-align: center;
    color: #f2f2f2;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
}

.numberText {
    color: #f2f2f2;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dots {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
.active,
.dot:hover {
  background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.8s;
}

@keyframes fade {
    from
    {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* End Sliders */

.subtitle-content {
    position: relative;
    font-size: 1rem;
    line-height: 3px;
    font-weight: 700;
    font-style: normal;
    padding-left: 70px;
    color: #400083;
}
.subtitle-content::before{
    content: '';
    display: block;
    width: 55px;
    height: 1px;
    background-color: #fe436e;
    position: absolute;
    left: 0;
    top: 50%;
}
h3.hny-title-content {
    font-size: 1.8rem;
    line-height: 46px;
    color: #0d001a;
    text-transform: capitalize;
    font-weight: 700;
}
.container {
    background: #faf5ff;
}
.content-info-in p {
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 10px;
}

/*Footer*/
.footer{
    width: 100%;
    background: var(--bluePoint);
    color: var(--whiteFont);
}
.footer__container {
    margin: 40px 0 0 40px; 
}
.footer__social{
    display: grid;
    grid-template-columns: repeat(5,25px);
    grid-column-gap: 10px;
    margin: 20px 0px;
}
.icon__facebook {
    width: 40px;
    height: 40px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-image: url("../assets/images/icon-facebook.svg");
    
  }
  .icon__youtube {
    width: 40px;
    height: 40px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-image: url("../assets/images/icon-youtube.svg");
  }
  .icon__twitter {
    width: 40px;
    height: 40px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-image: url("../assets/images/icon-twitter.svg");
  }
  .icon__pinterest {
    width: 40px;
    height: 40px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-image: url("../assets/images/icon-pinterest.svg");
  }
  .icon__instagram {
    width: 40px;
    height: 40px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-image: url("../assets/images/icon-instagram.svg");
  }

  .footer__links {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
  }
  
  .footer_mapasitio,.footer__institucional, .footer__legal {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .footer__institucional a:last-child,.footer_mapasitio a:last-child, .footer__legal a:last-child {
    border: none;
  }
  .footer__links a{
    width: 100%;
    text-decoration: none;
    color: var(--whiteFont);
    font-size: 14px;
    cursor: pointer;
    margin: 4px 0 4px 0;
    padding: 4px 0 4px 0;
    border-bottom: 1px solid rgb(255 255 255 / 22%);;
  }
  .footer__links a:hover {
    color: #f8f9fa;
  }
  .footer__links h3 {
    font-size: 20px;
  }
 
  .footer__derechos{
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
  }


@media screen and (min-width:768px){
    .navbar-collapse,
    .call-support{
        display: block;
    }
    .slideshow-container{
        height: 400px;
    }    
}
@media screen and (min-width: 1024px){
    .footer__links{
        flex-direction: row;
        justify-content: space-between;
    }
    .footer_mapasitio,.footer__institucional, .footer__legal {
        align-items: flex-start;
      }
}